<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bicom Academy</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style type="text/css">
        .internalbox {
            width: 100%;
            height: 100%;
        }

        .containerbox {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->

<!-- Topbar Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Administracion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav col-sm-9">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vistas / Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="vistasGeneral">General</a>
            <a class="dropdown-item" href="graficosAdmin">Administracion</a>
            <a class="dropdown-item" href="#">Usuarios</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenedores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="usuarioAdmin">Usuario</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cuentas de Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="logoutAdm">Desconectarse</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Componentes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="triggerAdmin">Triggers B.D</a>
            <a class="dropdown-item" href="logAdmin">Visor de Sucesos (Log)</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right col-sm-3">
        <div id="reloj" class="relojchile"></div>
        <div id="reloj" class="relojUTC"></div>
     </ul>
    </div>
</nav>
                  <!-- End of Topbar -->
<div class="container">
<% if (perfil) { %>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
                <div></div>
                <div>
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Actualizar Usuario Acceso</h1>
                        </div>
                        <form class="user" action="/editAdminPerfil" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="p_rut" name="p_rut"
                                    placeholder="ID Tipo" value="<%=perfil.p_rut%>" hidden>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="fk_id" name="fk_id"
                                    placeholder="Descripcion" value="<%=perfil.fk_id%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="p_nombre" name="p_nombre"
                                    placeholder="Password" value="<%=perfil.p_nombre%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="p_apellidos" name="p_apellidos"
                                    placeholder="Tipo de Usuario" value="<%=perfil.p_apellidos%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="fk_comuna" name="fk_comuna"
                                    placeholder="Tipo de Usuario" value="<%=perfil.fk_comuna%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="p_direccion" name="p_direccion"
                                    placeholder="Tipo de Usuario" value="<%=perfil.p_direccion%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="p_telefono" name="p_telefono"
                                    placeholder="Tipo de Usuario" value="<%=perfil.p_telefono%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="p_email" name="p_emails"
                                    placeholder="Tipo de Usuario" value="<%=perfil.p_email%>">
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%}%>
</div>

                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->
  
              <!-- Footer -->
              <footer class="sticky-footer bg-white">
                  <div class="container my-auto">
                      <div class="copyright text-center my-auto">
                          <span>Copyright &copy; Bicom 2021</span>
                          </div>
                      </div>
                  </div>
              </footer>
              <!-- End of Footer -->
  
          </div>
          <!-- End of Content Wrapper -->
  
      </div>
      <!-- End of Page Wrapper -->
  
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
      </a>
  
      <!-- Bootstrap core JavaScript-->
      <script src="/assets/vendor/jquery/jquery.min.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
      <!-- Core plugin JavaScript-->
      <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  
      <!-- Custom scripts for all pages-->
      <script src="/assets/js/sb-admin-2.min.js"></script>
  
      <!-- Page level plugins -->
      <script src="/assets/vendor/chart.js/Chart.min.js"></script>
  
      <!-- Page level custom scripts -->
      <script src="/assets/js/demo/chart-area-demo.js"></script>
      <script src="/assets/js/demo/chart-pie-demo.js"></script>
      <script src="/assets/js/demo/datatables-demo.js"></script>
      <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>
      <script >
          function actual() {
              fecha=new Date(); //Actualizar fecha.
              hora=fecha.getHours(); //hora actual
              minuto=fecha.getMinutes(); //minuto actual
              segundo=fecha.getSeconds(); //segundo actual
              if (hora<10) { //dos cifras para la hora
                  hora="0"+hora;
                  }
              if (minuto<10) { //dos cifras para el minuto
                  minuto="0"+minuto;
                  }
              if (segundo<10) { //dos cifras para el segundo
                  segundo="0"+segundo;
                  }
              //devolver los datos:
              mireloj = hora+" : "+minuto+" : "+segundo+" Hora local";	
              return mireloj; 
          }
          function actualizar() { //función del temporizador
              mihora=actual(); //recoger hora actual
              mireloj=document.getElementById("relojchile"); //buscar elemento reloj
              mireloj.innerHTML=mihora; //incluir hora en elemento
          }
          setInterval(actualizar,1000); //iniciar temporizador
      </script>
      <script>
          window.setTimeout(function() {
              $(".alert").fadeTo(10000, 0).slideDown(20000,
              function(){
                  $(this).remove();
              }, 10000);
          })
      </script>
      <script>
          function actualUTC() {
          var myDate = new Date();
          hour = myDate.getUTCHours();
          minutes = myDate.getUTCMinutes();
          seconds = myDate.getUTCSeconds();
          miclock = hour+" : "+minutes+" : "+seconds+" Hora UTC";
          //myDate1=document.getElementById("reloj-id"); //buscar elemento reloj
          //myDate1.innerHTML=mireloj; //incluir hora en elemento
          return miclock;
          }
          function actualizarUTC() { //función del temporizador
              myhour=actualUTC(); //recoger hora actual
              miclock=document.getElementById("relojUTC"); //buscar elemento reloj
              miclock.innerHTML=myhour; //incluir hora en elemento
          }
          setInterval(actualizarUTC,1000); //iniciar temporizador
      </script>
  </body>
  </html>