
                    <!-- Topbar Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">Administracion</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav col-sm-10">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vistas / Reportes
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="vistasAdmin">General</a>
                                <a class="dropdown-item" href="graficosAdmin">Adminstracion</a>
                                <a class="dropdown-item" href="#">Usuarios</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mantenedores
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="usuarioAdmin">Usuario</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cuentas de Usuarios
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="logoutAdmin">Desconectarse</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Componentes
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="triggersAdmin">Triggers B.D</a>
                                <a class="dropdown-item" href="logAdmin">Visor de Sucesos (Log)</a>
                              </div>
                            </li>
                          </ul>
                          <ul class="navbar-nav navbar-right col-sm-3">
                            <div id="relojchile"></div><br>
                            <div id="relojUTC"></div>
                         </ul>
                        </div>
                      </nav>
                  <!-- End of Topbar -->

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Vista General</h1>
    <p class="mb-4">Aqui se mostrara informacion de vistas de las tablas.</p>

    <!-- DataTales Example -->
    <div class="row">
      <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-body">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabla Tipo</h6>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>ID Tipo</th>
                            <th>Tipo Usuario</th>
                            <th>Accion</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>ID Tipo</th>
                              <th>Tipo Usuario</th>
                              <th>Accion</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <% results.forEach((admin)=>{ %>
                          <tr>
                              <td><%= admin.tp_id %></td>
                              <td><%= admin.tp_descripcion %></td>
                              <td style="width:50px">
                                <a href="/editAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-pen"></i></a>
                                <a href="/deleteAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-trash"></i></a>
                              </td>
                          </tr>
                          <% }) %>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-body">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabla Acceso</h6>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>ID Usuario</th>
                            <th>Nombre Usuario</th>
                            <th>Contraseña</th>
                            <th>Tipo Usuario</th>
                            <th>Accion</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>ID Usuario</th>
                            <th>Nombre Usuario</th>
                            <th>Contraseña</th>
                            <th>Tipo Usuario</th>
                            <th>Accion</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <% result.forEach((admin)=>{ %>
                          <tr>
                              <td><%= admin.a_id %></td>
                              <td><%= admin.a_cuenta %></td>
                              <td><%= admin.a_password %></td>
                              <td><%= admin.fk_tipo %></td>
                              <td style="width:50px">
                                <a href="/editAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-pen"></i></a>
                                <a href="/deleteAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-trash"></i></a>
                              </td>
                          </tr>
                          <% }) %>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-body">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabla Acceso</h6>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>Rut</th>
                            <th>ID Acceso</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Comuna</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Accion</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>Rut</th>
                            <th>ID Acceso</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Comuna</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Accion</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <% persona.forEach((admin)=>{ %>
                          <tr>
                              <td><%= admin.p_rut %></td>
                              <td><%= admin.fk_id %></td>
                              <td><%= admin.p_nombre %></td>
                              <td><%= admin.p_apellido %></td>
                              <td><%= admin.p_comuna %></td>
                              <td><%= admin.p_direccion %></td>
                              <td><%= admin.p_telefono %></td>
                              <td><%= admin.p_email %></td>
                              <td style="width:50px">
                                <a href="/editAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-pen"></i></a>
                                <a href="/deleteAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-trash"></i></a>
                              </td>
                          </tr>
                          <% }) %>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-body">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabla Comuna</h6>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>C.U.T Comuna</th>
                            <th>Comuna</th>
                            <th>C.U.T Provincia</th>
                            <th>Accion</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>C.U.T Comuna</th>
                            <th>Comuna</th>
                            <th>C.U.T Provincia</th>
                            <th>Accion</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <% comuna.forEach((admin)=>{ %>
                          <tr>
                              <td><%= admin.c_cut %></td>
                              <td><%= admin.c_descripcion %></td>
                              <td><%= admin.fk_provincia %></td>
                              <td style="width:50px">
                                <a href="/editAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-pen"></i></a>
                                <a href="/deleteAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-trash"></i></a>
                              </td>
                          </tr>
                          <% }) %>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-body">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabla Provincia</h6>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>C.U.T Comuna</th>
                            <th>Comuna</th>
                            <th>C.U.T Provincia</th>
                            <th>Accion</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>C.U.T Provincia</th>
                            <th>Provincia</th>
                            <th>C.U.T Region</th>
                            <th>Accion</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <% provincia.forEach((admin)=>{ %>
                          <tr>
                              <td><%= admin.p_cut %></td>
                              <td><%= admin.descripcion %></td>
                              <td><%= admin.fk_region %></td>
                              <td style="width:50px">
                                <a href="/editAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-pen"></i></a>
                                <a href="/deleteAdmin/<%= admin.a_id %>" class="btn btn-outline-info"><i class="fa-xs fas fa-trash"></i></a>
                              </td>
                          </tr>
                          <% }) %>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>