<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Panel Administradoren Bicom Academy</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">

  </head>
  <body class="text-center">
    <main class="form-signin text-center shadow-lg p3 mb-5"><br>
        <div class="card-header bg-primary text-white"> Registro Administrativo </div>
            <form action="/registerAdmin" method="POST">                
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user", name="user" placeholder="Nombre Usuario">
                    <label for="user">Cuenta Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="pass", name="pass" placeholder="Password">
                    <label for="pass">Contraseña</label>
                </div>
                <div class="card-footer bg_transparent boder-primary">
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                    <br>
                    <button type="submit" class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>
  </body>
</html>